disabled_plugins.txt
options/actionSummary.xml
options/baseRefactoring.xml
options/colors.scheme.xml
options/find.xml
options/images.support.xml
options/jdk.table.xml
options/KeyPromoterXSettings.xml
options/KeyPromoterXStatistic.xml
options/markdown.xml
options/other.xml
options/packages.xml
options/recentProjects.xml
options/updates.xml
options/usage.statistics.xml
options/window.state.xml
port.lock
colors/*
tasks/*
terminal/history/*
workspace/*
options/laf.xml
event-log-whitelist/fus/white-list.json
