port.lock
workspace/*
options/actionSummary.xml
options/recentProjects.xml
options/usage.statistics.xml
options/window.state.xml
options/other.xml
options/images.support.xml
options/find.xml
disabled_plugins.txt
options/KeyPromoterXStatistic.xml
options/KeyPromoterXSettings.xml
tasks/*
terminal/history/*
options/updates.xml
options/packages.xml
